.container.clientRoot {
    max-width: 720px;
    margin: auto;
    /* screenshot: */
    /*
    border: 2px solid gray;
    border-radius: 0;
    margin-top: 15px;
    padding: 10px 20px;
    */
}
.bold { font-weight: bold; }
.large { font-size: large; }
.xLarge { font-size: xLarge; }
.xSmall { font-size: x-small; }
.xxSmall { font-size: xx-small; }
.alignRight, .textAlignRight { text-align: right; }
.textAlignCenter { text-align: center }
.gray { color: gray; }
.lightgray { color: lightgray; }
.darkgray { color: darkgray; }
.dimgray { color: dimgray; }
.slategray { color: slategray; }
